@import "tailwindcss";

@font-face {
  font-family: "210 Computersetak";
  src: url("/fonts/210-computersetak-light.woff2") format("woff2"),
    url("/fonts/210-computersetak-light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "210 Computersetak";
  src: url("/fonts/210-computersetak-regular.woff2") format("woff2"),
    url("/fonts/210-computersetak-regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "210 Computersetak";
  src: url("/fonts/210-computersetak-bold.woff2") format("woff2"),
    url("/fonts/210-computersetak-bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

:root {
  --background: #fffeb7;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "210 Computersetak", var(--font-noto-sans-kr);

  --color-brand-yellow: #fffeb7;
  --color-brand-cream: #fffbe8;
  --color-brand-orange: #ff751f;
  --color-brand-black: #000000;
  --color-brand-lime: #bbe551;
  --color-brand-gold: #ffd233;

  --color-wallet-yellow: #fdbf0e;
  --color-wallet-green: #00bf63;
  --color-wallet-blue: #5170ff;
  --color-wallet-purple: #8c52ff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
